<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head>
    <title>Bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      type="text/css"
      rel="stylesheet"
      href="css/bootstrap.rtl.min.css"
      th:href="@{css/bootstrap.rtl.min.css}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">

        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item">
              <span class="navbar-text text-white ms-3">Signed in as: <span sec:authentication="name">User</span></span>
            </li>
            <li class="nav-item">
              <form th:action="@{/logout}" method="post" class="d-inline">
                <button type="submit" class="btn btn-danger btn-sm ms-2">Sign Out</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h1 style="text-align: center">Bookstore</h1>
    <table class="table table-striped">
      <tr>
        <th>Author</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Publication Year</th>
        <th>Category</th>
        <th>Price</th>
        <th sec:authorize="hasAuthority('ADMIN')">Actions</th>
      </tr>
      <tr th:each="book : ${books}">
        <td th:text="${book.author}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.publicationYear}"></td>
        <td th:text="${book.category.name}"></td>
        <td th:text="${book.price + ' €'}"></td>
        <td>
          <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger"
            >Delete</a
          >
          <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-primary"
            >Edit</a
          >
        </td>
      </tr>
    </table>
    <a sec:authorize="hasAuthority('ADMIN')" href="/add" class="btn btn-success">Add book</a>
  </body>
</html>
